#anchorleft {
    text-align: left;
    position: fixed;
}

.Profile{
    text-align: center;
}

.Profile-form select{
    background-color: rgb(30, 255, 124);
}

input[type=number   ] {
    padding:5px; 
    border-radius: 5px;
    text-align: center;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.greenText{ background-color:green; }

.blueText{ background-color:blue; }

.redText{ background-color:red; }
